# --------------------------------------------
# Node.js
# --------------------------------------------
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
package-lock.json
package.json

# 환경파일
.env
.env.*


# --------------------------------------------
# 빌드/배포 산출물
# --------------------------------------------
dist/
build/
out/
tmp/
temp/
logs/
*.log


# --------------------------------------------
# 시스템 파일
# --------------------------------------------
.DS_Store
Thumbs.db


# --------------------------------------------
# IDE / 편집기 관련
# --------------------------------------------

# VSCode
.vscode/
.history/
*.code-workspace

# JetBrains 계열
.idea/
*.iml

# VSCode Codex / Local History 등 확장프로그램 임시 파일
.codex/
.localhistory/
.vscode-codex-cache/


# --------------------------------------------
# Git / 기타 자동 생성 파일
# --------------------------------------------
.git/
.gitignore
*.orig
*.swp
*.swo


# --------------------------------------------
# 샘플 폴더 및 파일
# --------------------------------------------
Sample/
*.pptx
*.docx
*.pdf

# --------------------------------------------
# 기타 제외 파일
# --------------------------------------------
project_guide.md